.blog-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.blog-text10 {
  display: inline-block;
}
.blog-text11 {
  display: inline-block;
}
.blog-text12 {
  display: inline-block;
}
.blog-text13 {
  display: inline-block;
}
.blog-text14 {
  display: inline-block;
}
.blog-text15 {
  display: inline-block;
}
.blog-text16 {
  display: inline-block;
}
.blog-text17 {
  display: inline-block;
}
.blog-text18 {
  display: inline-block;
}
.blog-text19 {
  display: inline-block;
}
.blog-text20 {
  display: inline-block;
}
.blog-text21 {
  display: inline-block;
}
.blog-text22 {
  display: inline-block;
}
.blog-text23 {
  display: inline-block;
}
.blog-text24 {
  display: inline-block;
}
.blog-text25 {
  display: inline-block;
}
.blog-text26 {
  display: inline-block;
}
.blog-text27 {
  display: inline-block;
}
.blog-text28 {
  display: inline-block;
}
.blog-text29 {
  display: inline-block;
}
.blog-text30 {
  display: inline-block;
}
.blog-text31 {
  display: inline-block;
}
.blog-text32 {
  display: inline-block;
}
.blog-text33 {
  display: inline-block;
}
.blog-text34 {
  display: inline-block;
}
.blog-text35 {
  display: inline-block;
}
.blog-text36 {
  display: inline-block;
}
.blog-text37 {
  display: inline-block;
}
.blog-text38 {
  display: inline-block;
}
.blog-text39 {
  display: inline-block;
}
.blog-text40 {
  display: inline-block;
}
.blog-text45 {
  display: inline-block;
}
.blog-text46 {
  display: inline-block;
}
.blog-text47 {
  display: inline-block;
}
.blog-text48 {
  display: inline-block;
}
.blog-text49 {
  display: inline-block;
}
.blog-text54 {
  display: inline-block;
}
.blog-text55 {
  display: inline-block;
}
.blog-text56 {
  display: inline-block;
}
.blog-text57 {
  display: inline-block;
}
.blog-text58 {
  display: inline-block;
}
.blog-text59 {
  display: inline-block;
}
.blog-text60 {
  display: inline-block;
}
.blog-text61 {
  display: inline-block;
}
.blog-text62 {
  display: inline-block;
}
.blog-text63 {
  display: inline-block;
}
.blog-text64 {
  display: inline-block;
}
