.shop-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shop-header{
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.shop-text10 {
  display: inline-block;
}
.shop-text11 {
  display: inline-block;
}
.shop-text12 {
  display: inline-block;
}
.shop-text13 {
  display: inline-block;
}
.shop-text14 {
  display: inline-block;
}
.shop-text15 {
  display: inline-block;
}
.shop-text16 {
  display: inline-block;
}
.shop-text17 {
  display: inline-block;
}
.shop-text18 {
  display: inline-block;
}
.shop-text19 {
  display: inline-block;
}
.shop-text20 {
  display: inline-block;
}
.shop-text21 {
  display: inline-block;
}
.shop-text22 {
  display: inline-block;
}
.shop-text23 {
  display: inline-block;
}
.shop-text24 {
  display: inline-block;
}
.shop-text25 {
  display: inline-block;
}
.shop-text26 {
  display: inline-block;
}
.shop-text27 {
  display: inline-block;
}
.shop-text28 {
  display: inline-block;
}
.shop-text29 {
  display: inline-block;
}
.shop-text30 {
  display: inline-block;
}
.shop-text31 {
  display: inline-block;
}
