.banner11-container1 {
    gap: var(--dl-space-space-unit);
    display: flex;
    position: relative;
    align-items: center;
  }
  .banner11-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .banner11-container2 {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .banner11-title {
    text-align: center;
  }
  .banner11-text1 {
    text-align: center;
  }
  .banner11-text3 {
    display: inline-block;
  }
  .banner11-text4 {
    display: inline-block;
  }
  .banner11-text5 {
    display: inline-block;
  }
  